<h1 class="m-6 text-3xl text-gray-600 font-bold text-center">ユーザー新規作成</h1>

<%= render "shared/error", obj: @user %>

<div class="bg-blue-200 rounded pr-8 pb-8 pl-8 pt-16 text-center mx-auto w-1/2">
  <%= render "shared/user_form", user: @user %>
</div>

