<h1 class="text-center mb-4 mt-4 text-2xl font-bold text-gray-600 sm:m-4 md:text-3xl">ユーザー詳細</h1>
<% if flash[:notice] %>
  <p class="text-center mx-auto w-1/2 text-blue-700 bg-blue-100 mb-8 p-4 rounded"><%= flash[:notice] %></p>
<% end %>

<div class="bg-blue-200 rounded text-center mx-auto mr-4 ml-4 pt-4 pb-4 sm:mr-16 sm:ml-16 sm:pt-8 sm:pb-8 md:mr-32 md:ml-32 lg:mr-64 lg:ml-64">
  <div class="bg-blue-100 mr-4 ml-4 pt-8 pb-4 sm:mr-16 sm:ml-16">
    <div class="mb-10 text-center mx-auto mr-2 ml-2 sm:mr-8 sm:ml-8 lg:mr-16 lg:ml-16 xl:mr-32 xl:ml-32">
      <p class="block text-gray-700 font-bold mb-2">登録名</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @user.name %></p>
    </div>
    <div class="mb-10 text-center mx-auto mr-2 ml-2 sm:mr-8 sm:ml-8 lg:mr-16 lg:ml-16 xl:mr-32 xl:ml-32">
      <p class="block text-gray-700 font-bold mb-2">email</p>
      <p class="bg-gray-50 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight"><%= @user.email %></p>
    </div>
  </div>
</div>

<div class="mt-12 mb-8 text-center">
  <ul class="flex justify-center">
    <li><%= link_to "編集する", [:edit, @user], class: "header-btn mr-0 text-sm lg:text-base" %></li>
  </ul>
</div>
