<% if flash[:notice] %>
  <p class="text-center mx-auto w-1/2 text-blue-700 bg-blue-100 p-4 rounded"><%= flash[:notice] %></p>
<% end %>

<div class="bg-blue-500 text-white px-4 py-2">
  <h1 class="text-xl font-bold">行きたい場所を保存しよう</h1>
</div>

<div class="bg-blue-100 text-gray-700 px-4 py-2">
  <h2 class="text-lg font-medium">訪問した場所は自分だけのレビューを残して保存しよう</h2>
</div>

<div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
  <div class="flex-shrink-0">
    <img class="h-12 w-12" src="https://mebee.info/wp-content/uploads/2019/08/mebee_logo.png" alt="ChitChat Logo">
  </div>
  <div>
    <div class="text-xl font-medium text-black">ChitChat</div>
    <p class="text-gray-500">You have a new message!</p>
  </div>
</div>

<div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-6 py-4">
    <img class="block mx-auto sm:mx-0 sm:flex-shrink-0 h-16 sm:h-24 rounded-full" src="https://randomuser.me/api/portraits/women/17.jpg" alt="Woman's Face">
    <div class="mt-4 sm:mt-0 sm:ml-4 text-center sm:text-left">
      <p class="text-xl leading-tight">Erin Lindford</p>
      <p class="text-sm leading-tight text-gray-600">Customer Support Specialist</p>
      <div class="mt-4">
        <button class="text-purple-500 hover:text-white hover:bg-purple-500 border border-purple-500 text-xs font-semibold rounded-full px-4 py-1 leading-normal">Message</button>
      </div>
    </div>
  </div>
</div>
