<% if flash[:notice] %>
  <p class="text-center mx-auto w-1/2 text-blue-700 bg-blue-100 p-4 rounded"><%= flash[:notice] %></p>
<% end %>

<div class="bg-gray-100 text-gray-700 px-4 py-2">
  <h1 class="text-xl font-bold text-blue-500">行きたい場所を保存しよう</h1>
</div>

<div class="bg-gray-200 text-gray-700 px-4 py-2">
  <h2 class="text-lg font-medium text-blue-500">訪問した場所は自分だけのレビューを残して保存しよう</h2>
</div>
