table th {
  background-color: #fbc25b;
  padding: 10px 20px;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

ul {
  list-style: none;
}

.header-menus li {
  line-height: 64px;
  font-size: 13px;
  color: black;
  padding-left: 15px;
}

.header-menus a {
  font-size: 13px;
  color: black;
}
